
.mermaid {
    /* overflow: scroll;
    resize: both; */
    display: flex !important;

}

.markdown-rendered, .markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget):hover {
    overflow: auto;
    resize: both;
}